html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a:link 
{ 
 text-decoration:none; 
} 

/*config nav*/
.bg-topo{
    background-color: rgb(0, 0, 0);
}
.btn-orcamento{
    border: 2px solid rgb(0, 132, 255);
    background: none;
    position: relative;
    color: rgb(0, 0, 0);
    z-index: 1;
    border-radius: 600px;
    height: 100%;
}
.btn-orcamento:hover{
    color: rgb(0, 0, 0);
    background: rgb(218, 242, 243);
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;;
}

.nav-item{
    position: relative;
  color: rgb(0, 0, 0);
  text-decoration: none;  
}

.nav-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .nav-item:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.navbar{
    background-color: rgb(247, 253, 255);
}
 

/*TESTE INNER*/
.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

/*slide*/

/*Sobre a empresa*/
/*.bg-empresa{
    background: linear-gradient(191deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,255,248,1) 100%);
}
*/
/*paralax*/
.bg-parallax{
    background: url(../img/patetass.jpg) fixed;
    position: relative;
}

.fatos{
    text-align: center;
    font-size: 100px;
     
}


.icone{
    width: 150px;
}

.fatos h4{
    font-size:20px;
    margin-bottom: 5px;
    font-weight: 700;
    letter-spacing: 1px;
}

/*Beneficios*/

.bg-beneficio{
    background-color: rgb(245, 255, 255);
}

.benef-fatos{
    font-size: 12px;
    text-align: center;
    padding-bottom: 60px;
}

/*COntato*/

.icone-contato{
    color: rgb(116, 171, 216);

    
}

.text-contato{
    font-size: 17px;
    color: black;
}

.contatinho{
    text-align: center;
    font-size: 60px;
    padding-top: 140px;
    padding-bottom: 60px;

}

.bg-contato{
    background-color: rgb(223, 255, 250);
}

/*Orçamentoo*/

#orcamento{
    padding-top: 30px;
}


/* Footer*/
.bg-rodape1{
    background-color: rgba(0, 247, 255, 0.199);
}
.bg-rodape2{
    background-color: rgb(220, 255, 249);
}


  .copyright {
    text-align:center;
    font-size:15px;
    margin-bottom:0;
  }

/*config geral*/
.underline{
    content: '';
    border-top: 2px solid red;
    width: 200px;
    display: block;
    margin-bottom: 8px;
    margin: 0 auto;
}

/*SOfá do metade sujo*/

#sofameio{
    padding-top: 50px;
    padding-bottom: 60px;

}

.fa {
    color: rgb(255, 145, 0);

}
.garantia{
    padding-top: 10px;

}

/*CUSTOM SELECT BOX*/ 

.nome-estofado{   
    padding-right: 20px;
    


}

.form-select{
   
    outline: none;
    cursor: pointer;
   
}

.border{
    padding: 3.8px;
    padding-left: 0px;
}

#cadeiras{
    padding-left: 22px;
    padding-right: 22px;
}

#puffs{
    padding-left: 35px;
    padding-right: 35px;
}

#poltrona{
    padding-left: 23px;
    padding-right: 23px;
}

#colchaosolt{
    padding-left: 6px;
    padding-right: 6px;
}

#tapete{
    padding-left: 29px;
    padding-right: 29px;
}

#carro{
    padding-left: 8.7px;
    padding-right: 8.7px;
}
#bancocarr{
    padding-left: 9.4px;
    padding-right: 9.4px;
}

#tapetebig{
    padding-left: 1.9px;
    padding-right: 1.9px;
}

#sofal{
    padding-left: 17px;
    padding-right: 17px;
}

#almofadas{
    padding-left: 18px;
    padding-right: 18px;
}

#colchaocasal{
    padding-left: 3px;
    padding-right: 3px;
}


.botao{
    margin-top: 30px;
    margin-bottom: 20px;
}

.h1resultado{
    color: brown;
}

/*COntato Limpmax*/


/**/

#facilities h1 {
    padding-bottom: 5px;
}
.title {
    text-align: center;
    padding: 25px 0px;
}
.title p {
    font-size: 18px;
}
.card-body {
    box-shadow: 0 0 20px 7px rgb(184, 243, 238);
}
.card {
    margin: 20px 10px;
}
.card-body a {
    color: #13dfff;
    text-decoration: none;
    font-size: 15px;
    margin-top: auto;
    font-weight: 600;
}
.card-body a:hover {
    color: #00ddff;
    text-decoration: none;
}